<div class="control-content">
    {{#if isBold}}
        <b>{{title}}</b>
    {{else}}
        {{#if isItalic}}
            <i>{{title}}</i>
        {{else}}
            {{title}}
        {{/if}}
    {{/if}}
</div>
{{#link-to "controlWatchLabel" this tagName="div" class="inner-control"}}{{/link-to}}
