// Fonts
link(type="text/css"
     rel="stylesheet"
     href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Montserrat:400,700")

// Stylesheets
link(type="text/css"
     rel="stylesheet"
     href="assets/css/global.css?v=#{version}")

// Modules Stylesheets
link(type="text/css"
     rel="stylesheet"
     href="")