<div class="event-form">
  <%= form_for(@event, html: {class: 'form-horizontal col-sm-8'}) do |f| %>
    <div class="event-form-table">
      <div class="form-group"><%= f.label :title, class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"> <%= f.text_field :title, maxlength: 80, placholder: 'Give your event a title', class: 'form-control' %></div>
      </div>
      <div class="form-group"><%= f.label :flyer, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10"><%= f.file_field :flyer, class: 'form-control' %></div>
      </div>

      <div class="form-group"><%= f.label 'Location', class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"><%= f.text_field :location_name, placeholder: 'Name of venue', class: 'form-control' %></div>
      </div>

      <div class="form-group"><%= f.label :street, class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"><%= f.text_field :street, placeholder: 'Address line', class: 'form-control' %></div>
      </div>

      <div class="form-group"><%= f.label :state, class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"><%= f.collection_select(:state_id, State.order(:name), :id, :name,
                                                       {prompt: 'Select a state or province'},
                                                       {class: 'form-control'}) %></div>
      </div>

      <div class="form-group"><%= f.label :city, class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"><%= f.grouped_collection_select(:city_id, State.order(:name), :cities, :name, :id, :name,
                                                               {prompt: 'Select a city'},
                                                               {class: 'form-control'}) %></div>
      </div>

      <div class="form-group"><%= f.label :zip, class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"><%= f.text_field :zip, maxlength: 5, placeholder: 'Zip', class: 'form-control' %></div>
      </div>

      <div class="form-group"><%= f.label :start, class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"><%= f.datetime_select(:start,
                                                     start_year: Date.today.year,
                                                     minute_step: 5,
                                                     ampm: true,
                                                     default: 1.days.from_now,
                                                     order: [:month, :day, :year]) %></div>
      </div>

      <div class="form-group"><%= f.label :end, class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"><%= f.datetime_select(:end,
                                                     start_year: Date.today.year,
                                                     minute_step: 5, ampm: true,
                                                     default: 1.days.from_now,
                                                     order: [:month, :day, :year]) %></div>
      </div>

      <div class="form-group"><%= f.label :category_id, class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"><%= f.collection_select(:category_id, Category.order(:name), :id, :name, {prompt: 'Select one'}, {class: 'form-control'}) %></div>
      </div>

      <div class="form-group"><%= f.label 'Youtube Video ID', class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"><%= f.text_field :youtube_id, class: 'form-control' %></div>
      </div>

      <div class="form-group"><%= f.label :details, class: 'col-sm-2 control-label' %>

        <div class="col-sm-10"><%= f.text_area :details, rows: 15, placholder: 'Tell people aobut your event and what makes it special!', class: 'form-control' %></div>
      </div>
      <div>
        <hr>
        <h2>Tickets</h2>
        <hr>
        <%= f.fields_for :ticket_types do |builder| %>
          <%= render 'ticket_type_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields " Add Ticket", f, :ticket_types %>
      </div>
    </div>
    <div class="actions form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>