<!DOCTYPE html>
<html lang="{{ lang }}" class="no-js">
<head>
  <meta charset="{{ charset }}">
  <meta name="viewport" content="{{ viewport }}">
  <title>{{ previewTitle _target }}</title>
</head>
<body>

{{{ yield }}}

</body>
</html>
