%section
  .slider.arizona-dreams
    - %w(J0MQDN0pokc 4xv3lqnanYc _TC_gkSQ7IU 4vm6v0KmCS8).each do |image|
      .slide
        %img.fadein.lazyload{:alt => "", 'data-src' => "https://source.unsplash.com/#{image}/800x600", 'src' => "data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http://www.w3.org/2000/svg'%20viewBox%3D'0%200%20#{800}%20#{600}'%20%2F%3E", width: 800, height: 600}

-# https://codepen.io/dudleystorey/pen/HkwBo
%section
  .slider.before-after
    - %w(before after).each do |item|
      .slide
        %img.fadein.lazyload{:alt => "", "data-srcset" => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-#{item}.jpg", :src => "data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http://www.w3.org/2000/svg'%20viewBox%3D'0%200%20661%20661'%20%2F%3E", width: 661, height: 661}



-# %section
-#   .slider.product
-#     - {none: 'full-no-bg', light: 'full-bg-light', dark: 'full-bg-dark'}.each do |term,image|
-#       %a.slide{href: "http://demo.mobilemarkup.com/calibration/?background=#{term}", target: '_blank'}
-#         %img.fadein.lazyload{:alt => "", "data-srcset" => "https://mobilemarkup.com/images/calibration/#{image}.png", :height => "3156", :src => "data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http://www.w3.org/2000/svg'%20viewBox%3D'0%200%202880%203156'%20%2F%3E", :width => "2880"}
