<div class='col-md-12'>
    <div class='section-header'>
        <div class='section-header-title'>
            {{#if model}}
                Default preferences enabled
            {{else}}
                Enable the default preferences in your app
            {{/if}}
        </div>
        <div class='switch-button'>
            {{#if model}}
                <button type="button" class="btn btn-danger" id='en-di-button' {{action 'disableDP'}}>
                    Disable
                </button>
            {{else}}
                <button type="button" class="btn btn-success" id="en-di-button" {{action 'enableDP'}}>
                    Enable
                </button>
            {{/if}}
        </div>
    </div>
    <hr class='section-header-hr'>
</div>
<div class='col-md-12'>
    {{#if model}}
        {{outlet}}
    {{/if}}
</div>
