.nav
  ul(class='nav__list')
  
      li(class='nav__menu') menu
        ul(class='nav__menu-lists nav__menu--1-lists')
          each val in ['Etiam', 'Lectus', 'Netus', 'Dictum', 'Nibh']
            li(class='nav__menu-items')= val
            
      li(class='nav__menu') menu
        ul(class='nav__menu-lists nav__menu--2-lists')
          each val in ['Etiam', 'Lectus', 'Netus', 'Dictum', 'Nibh']
            li(class='nav__menu-items')= val
            
      li(class='nav__menu') menu
        ul(class='nav__menu-lists nav__menu--1-lists')
          each val in ['Etiam', 'Lectus', 'Netus', 'Dictum', 'Nibh']
            li(class='nav__menu-items')= val
            
      li(class='nav__menu') menu
        ul(class='nav__menu-lists nav__menu--1-lists')
          each val in ['Etiam', 'Lectus', 'Netus', 'Dictum', 'Nibh']
            li(class='nav__menu-items')= val
            
      li(class='nav__menu') menu
        ul(class='nav__menu-lists nav__menu--1-lists')
          each val in ['Etiam', 'Lectus', 'Netus', 'Dictum', 'Nibh']
            li(class='nav__menu-items')= val
   
  <div class='stuff'><a href='https://codepen.io/mrspok407/' class='pens' target="_blank">Check out my other pens</a><a href="https://twitter.com/mrspok407" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
    
