h1 fizzbuzz

// JADE FIZZBUZZ SOLUTION
.column.jade
  h2 Pug/Jade (HTML)
  - for (var i = 1; i <= 100; i++)
    if i % 3 == 0 && i % 5 == 0
      div= 'fizzbuzz'
    else if i % 3 == 0
      div= 'fizz'
    else if i % 5 == 0
      div= 'buzz'
    else
      div= i

.column.scss
  h2 SCSS (CSS)
  - for (var i = 1; i <= 100; i++)
    div= i

.column.js
  h2 JS