<p id="notice"><%= notice %></p>

<p>
  <strong>Sponsor:</strong>
  <%= @legislation_sponsor.sponsor_id %>
</p>

<p>
  <strong>Legislation:</strong>
  <%= @legislation_sponsor.legislation %>
</p>

<%= link_to 'Edit', edit_legislation_sponsor_path(@legislation_sponsor) %> |
<%= link_to 'Back', legislation_sponsors_path %>
