<h1>Listing legislators</h1>

<table>
  <thead>
    <tr>
      <th>Alderman</th>
      <th>Represented ward</th>
      <th>Term start date</th>
      <th>Term end date</th>
      <th>Party affiliation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legislators.each do |legislator| %>
      <tr>
        <td><%= legislator.alderman_id %></td>
        <td><%= legislator.represented_ward_id %></td>
        <td><%= legislator.term_start_date %></td>
        <td><%= legislator.term_end_date %></td>
        <td><%= legislator.party_affiliation %></td>
        <td><%= link_to 'Show', legislator %></td>
        <td><%= link_to 'Edit', edit_legislator_path(legislator) %></td>
        <td><%= link_to 'Destroy', legislator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legislator', new_legislator_path %>
