<div class="col-md-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{#link-to 'vc' viewController class="btn btn-default btn-sm"}}
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                {{/link-to}}
                {{name}}
            </h3>
        </div>
        <div class="panel-body">
            {{partial "partials/first_commands"}}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#position" data-toggle="tab"><span class="glyphicon glyphicon-move"
                                                                aria-hidden="true"></span></a></li>
                <li><a href="#dimension_constraint" data-toggle="tab"><span class="glyphicon glyphicon-resize-full"
                                                                 aria-hidden="true"></span></a></li>
                <li><a href="#dimension" data-toggle="tab"><span class="glyphicon glyphicon-indent-left"
                                                                 aria-hidden="true"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade form-horizontal in active" id="position">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-5" style="padding:8px 10px;text-align:right">Child View Controller</label>
                        <label class="col-sm-5" style="padding:8px 10px;">{{#link-to 'viewController' childViewController}}{{childViewController.name}}{{/link-to}}</label>
                    </div>
                    {{partial "partials/ui_control_position"}}
                </div>
                <div class="tab-pane fade form-horizontal" id="dimension_constraint">
                    <br>
                    {{partial "partials/ui_control_dimension_constraints"}}
                </div>
                <div class="tab-pane fade form-horizontal" id="dimension">
                    <br>
                    {{partial "partials/ui_control_dimension"}}
                </div>
            </div>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>
