<div class="ui blue error inverted form segment">
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div class="ui error message">
    <div class="header"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</div>
    <ul><% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="ui blue submit button"><%= f.submit %></div>
  <% end %>
</div>


