<!DOCTYPE html>
<html>
<head>
  <title>Polity</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- TODOS: these should be moved to asset pipeline-->
<link href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css" rel="stylesheet">
<script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
</head>
<body>
  <%= render 'partials/nav' %>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
  <%= render 'partials/footer' %>
  <% yield :javascripts %>

</body>
</html>
