<p id="notice"><%= notice %></p>

<p>
  <strong>City identifier:</strong>
  <%= @legislation.city_identifier %>
</p>

<p>
  <strong>Status:</strong>
  <%= @legislation.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @legislation.kind %>
</p>

<p>
  <strong>Opened date:</strong>
  <%= @legislation.opened_date %>
</p>

<p>
  <strong>Closed date:</strong>
  <%= @legislation.closed_date %>
</p>

<%= link_to 'Edit', edit_legislation_path(@legislation) %> |
<%= link_to 'Back', legislations_path %>
