<p id="notice"><%= notice %></p>

<p>
  <strong>Ward:</strong>
  <%= @user_address.ward %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @user_address.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @user_address.address2 %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user_address.zip %>
</p>

<%= link_to 'Edit', edit_user_address_path(@user_address) %> |
<%= link_to 'Back', user_addresses_path %>
