<p id="notice"><%= notice %></p>

<p>
  <strong>Legislation:</strong>
  <%= @legislator_vote.legislation %>
</p>

<p>
  <strong>Legislator:</strong>
  <%= @legislator_vote.legislator %>
</p>

<p>
  <strong>Vote date:</strong>
  <%= @legislator_vote.vote_date %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @legislator_vote.vote %>
</p>

<%= link_to 'Edit', edit_legislator_vote_path(@legislator_vote) %> |
<%= link_to 'Back', legislator_votes_path %>
