<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @legislation_voice.user %>
</p>

<p>
  <strong>Legislation:</strong>
  <%= @legislation_voice.legislation %>
</p>

<p>
  <strong>Support:</strong>
  <%= @legislation_voice.support %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @legislation_voice.feedback %>
</p>

<%= link_to 'Edit', edit_legislation_voice_path(@legislation_voice) %> |
<%= link_to 'Back', legislation_voices_path %>
